@forward "./myContent1";
@forward "./myContent2";
@forward "./myContent3";
@forward "./myContent4";

#myPage {
  min-height: 100vh;
  position: relative;
  background: #ffffff;
  .topheader {
    position: relative;
    background-color: #b7e2df;
    height: 414px;
    // top: 84px;
    .topName {
      width: 100%;
      // padding: 28px 260px;
      right: 260px;
      bottom: 28px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 20px;
      img {
        border-radius: 100%;
        width: 94px;
        height: 94px;
      }
      p {
        color: var(--Black, #060606);
        font-family: Paperlogy;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.24px;
      }
    }
    .nav {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-evenly;
      width: 443px;
      gap: 42px;
      left: 260px;
      cursor: pointer;
      ul {
        display: flex;
        align-items: center;
        li {
          color: var(--White, #fefefe);
          text-align: center;
          font-family: Pretendard;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
