@use "./../utils/" as *;

#mycontent2 {
  min-height: 100vh;
  background: #ffffff;
  margin-top: 134px;
  padding-bottom: 190px;
  .inner {
    display: flex;
    flex-direction: column;
    gap: 120px;
    .title {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      align-self: stretch;
      h2 {
        color: #000;
        font-family: Paperlogy;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .reservation {
      display: flex;
      flex-direction: column;
      gap: 34px;
      .tab {
        display: flex;
        gap: 37px;
        width: 100%;
        height: 54px;
        border-bottom: 1px solid #cecece;
        cursor: pointer;
        li {
          color: var(--Grey-grey-300, #959595);
          font-family: Paperlogy;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.24px;
          &.on {
            color: var(--Black, #060606);
          }
        }
      }
      .reservationList {
        display: flex;
        width: 100%;
        height: 165px;
        justify-content: center;
        align-items: center;
        &.empty {
          height: 124px;
        }
        &.hasData {
          justify-content: left;
          display: flex;
          gap: 26px;
        }
        span {
          color: var(--Grey-grey-500, #616161);
          text-align: center;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
        }
      }
    }
    .review {
      display: flex;
      flex-direction: column;
      gap: 34px;
      .reviewList {
        display: flex;
        // height: 124px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        &.empty {
          height: 124px;
        }
        &.hasData {
          justify-content: left;
          display: flex;
          gap: 26px;
        }
        p {
          color: var(--Grey-grey-500, #616161);
          text-align: center;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 20.8px */
        }
      }
    }
  }
}

#hotelReservationBox {
  display: flex;
  width: 314px;
  height: 165px;
  padding: 39px 32px 39px 33px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  border: 4px solid var(--Green-green-200, #e2f8f7);
  background: var(--Green-green-50, #f9fefd);

  .right {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      color: var(--Black, #060606);
      font-family: Paperlogy;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.22px;
    }

    .date {
      color: #585858;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      text-align: left !important;
    }
  }

  &.past {
    background: #e9e9e9;
    border-color: #b6b6b6;

    .right {
      p {
        color: #b6b6b6;
      }
      .date {
        color: #cccccc;
      }
    }
  }
}

.groomingReservationBox {
  display: flex;
  width: 314px;
  height: 165px;
  padding: 39px 32px 39px 33px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  border: 4px solid var(--Green-green-200, #e2f8f7);

  &.upcoming {
    background: #f9fefd; // 다가오는 예약
  }

  &.past {
    background: #e9e9e9;
    border-color: #b6b6b6;
    .right {
      p {
        color: #b6b6b6;
      }
      .date {
        color: #cccccc;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      color: #060606;
      font-family: Paperlogy;
      font-size: 22px;
      font-weight: 600;
    }

    .date {
      color: #585858;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      text-align: left !important;
    }
  }
}

#reviewItem {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 355px;
  height: 165px;
  padding: 24px 30px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  border: 4px solid var(--Green-green-200, #e2f8f7);
  background: var(--Green-green-50, #f9fefd);
  h3 {
    color: var(--Black, #060606);
    font-family: Paperlogy;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.22px;
  }
  .star {
    display: flex;
    gap: 7px;
  }
  .date {
    color: var(--Grey-grey-400, #818181);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
  }
  .content {
    width: 100%;
    p {
      color: var(--Grey-grey-400, #818181);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400 !important;
      line-height: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* ✅ 최대 줄 수 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left !important;
    }
  }
}
