#pay_cancel {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .inner {
    height: 550px;
    display: flex;
    justify-content: space-between;
    .cancel_context {
      width: 961px;
      height: 550px;
      display: flex;
      flex-flow: column;
      gap: 30px;
      .title {
        color: var(--Black, #060606);

        /* SemiBold/24px */
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .table {
        width: 100%;
        height: 440px;
        display: flex;
        flex-flow: column;
        border-radius: 10px;
        box-sizing: border-box;

        li {
          width: 100%;
          height: 56px;
          display: flex;
          justify-items: center;
          box-sizing: border-box;
          &:first-child {
            border-radius: 10px 10px 0 0;
            .left {
              border-radius: 10px 0 0 0;
            }
            .right {
              border-radius: 0 10px 0 0;
            }
          }
          &:last-child {
            border-radius: 0 0 10px 10px;
            .left {
              border-radius: 0 0 0 10px;
              border-bottom: 1px solid #cecece;
            }
            .right {
              border-radius: 0 0 10px 0;
              border-bottom: 1px solid #cecece;
            }
          }

          .left {
            width: 355px;
            height: 100%;
            background-color: #efefef;
            border: 1px solid #cecece;
            display: flex;
            align-items: center;
            padding-left: 24px;
            color: var(--Grey-grey-600, #585858);
            /* Medium/16px */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 20.8px */
            box-sizing: border-box;
            border-bottom: none;
          }
          .right {
            width: 602px;
            height: 100%;
            display: flex;
            align-items: center;
            color: var(--Grey-grey-800, #353535);
            /* Regular/16px */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 24px;
            box-sizing: border-box;
            border: 1px solid #cecece;
            border-bottom: none;
            border-left: none;
          }
        }
      }

      .check__line input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      .check__line input[type="checkbox"] + label {
        display: inline-block;
        position: relative;
        padding-left: 37px;
        cursor: pointer;
      }
      .check__line input[type="checkbox"] + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        text-align: center;
        // background: #8dd2ce;
        background: #b6b6b6;
        box-sizing: border-box;
        border-radius: 5px;
      }
      .check__line.inputCheck input[type="checkbox"] + label::before {
        background: #8dd2ce;
      }
      .check__line label.checked::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: url("/Vector.png") no-repeat;
        background-position: center center;
        border-radius: 5px;
      }

      .check__line input[type="checkbox"] + label span {
        color: var(--Grey-grey-500, #616161);

        /* Medium/16px */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
      }
    }
    .block {
      width: 150px;
      height: 105px;
    }
  }
}
@media screen and (max-width: 600px) {
  #pay_cancel {
    width: 100%;
    .inner {
      .cancel_context {
        width: 100%;

        .title {
          font-size: 18px;
        }
        .table {
          width: 100%;
          height: 440px;
          display: flex;
          flex-flow: column;
          border-radius: 10px;
          box-sizing: border-box;

          li {
            width: 100%;
            height: 56px;
            display: flex;
            justify-items: center;
            box-sizing: border-box;
            &:first-child {
              border-radius: 10px 10px 0 0;
              .left {
                border-radius: 10px 0 0 0;
              }
              .right {
                border-radius: 0 10px 0 0;
              }
            }
            &:last-child {
              border-radius: 0 0 10px 10px;
              .left {
                border-radius: 0 0 0 10px;
                border-bottom: 1px solid #cecece;
              }
              .right {
                border-radius: 0 0 10px 0;
                border-bottom: 1px solid #cecece;
              }
            }

            .left {
              font-size: 14px;
            }
            .right {
              font-size: 14px;
            }
          }
        }

        .check__line input[type="checkbox"] {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
        .check__line input[type="checkbox"] + label {
          padding-left: 20px;
        }
      }
    }
  }
}
