#pay_step1 {
    width: 100%;
    padding: 160px 260px 60px 260px;
    background-color: #fff;
    .inner {
        display: flex;
        justify-content: space-between;
        .pay_left {
            width: 961px;
            display: flex;
            flex-flow: column;
            gap: 120px;
            .pay_goods {
                width: 100%;
                padding: 44px 49px 45px 48px;
                border-radius: 20px;
                border: 1px solid var(--Grey-grey-100, #cecece);
                background: #fff;
                .goods_inner {
                    width: 864px;
                    display: flex;
                    flex-flow: column;
                    gap: 30px;
                    .goods_label {
                        color: var(--Black, #060606);
                        font-family: Paperlogy;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.24px;
                    }
                    .goods_line {
                        width: 100%;
                        height: 1px;
                        background: #b6b6b6;
                    }
                    .goods_context {
                        display: flex;
                        flex-flow: column;
                        gap: 10px;
                        .b500 {
                            color: var(--Grey-grey-900, #292929);

                            /* Medium/18px */
                            font-family: Pretendard;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                        .g500 {
                            color: var(--Grey-grey-400, #818181);

                            /* Medium/18px */
                            font-family: Pretendard;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                        .goods_price {
                            margin-top: 19px;
                            color: var(--Grey-grey-900, #515151);

                            /* Medium/18px */
                            font-family: Pretendard;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                    }
                }
            }
            .pay_user {
                background-color: #fff;
                width: 961px;
                height: 427px;
                display: flex;
                flex-flow: column;
                .user_label {
                    color: var(--Black, #060606);
                    font-family: Paperlogy;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.24px;
                    margin-bottom: 30px;
                }
                .user_line {
                    width: 100%;
                    height: 1px;
                    background: #b6b6b6;
                    margin-bottom: 26px;
                }
                .user_text {
                    color: var(--Grey-grey-500, #616161);
                    /* Regular/16px */
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 40px;
                }
                .user_info_area {
                    display: flex;
                    flex-flow: column;
                    gap: 17px;
                    width: 607px;
                    margin-bottom: 30px;
                    li {
                        width: 100%;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        gap: 61px;
                        .info_label {
                            display: flex;
                            align-items: center;
                            width: 63px;
                            height: 100%;
                            color: #292929;
                            font-family: Pretendard;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                        input[type='text'] {
                            width: 137px;
                            height: 36px;
                            border-radius: 10px;
                            border: 1px solid var(--Grey-grey-200, #b6b6b6);
                            background: var(--White, #fefefe);
                            outline: none;
                            padding-left: 10px;
                        }
                        .phone {
                            display: flex;
                            gap: 11px;
                            align-items: center;
                            .telFirst {
                                width: 137px;
                                height: 36px;
                                border-radius: 10px;
                                border: 1px solid var(--Grey-grey-200, #b6b6b6);
                                background: var(--White, #fefefe);
                                outline: none;
                                padding-left: 10px;
                            }
                        }
                        .email {
                            display: flex;
                            align-items: center;
                            gap: 11px;
                            .emailList {
                                width: 160px;
                                height: 36px;
                                border-radius: 10px;
                                border: 1px solid var(--Grey-grey-200, #b6b6b6);
                                background: var(--White, #fefefe);
                                outline: none;
                                padding-left: 10px;
                            }
                        }
                        .request_list {
                            width: 300px;
                            height: 36px;
                            padding-left: 10px;
                            border-radius: 10px;
                            border: 1px solid var(--Grey-grey-200, #b6b6b6);
                            background: var(--White, #fefefe);
                            outline: none;
                            padding-left: 10px;
                        }
                    }
                }
                .check__line input[type='checkbox'] {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0;
                }
                .check__line input[type='checkbox'] + label {
                    display: inline-block;
                    position: relative;
                    padding-left: 37px;
                    cursor: pointer;
                }
                .check__line input[type='checkbox'] + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    background: #8dd2ce;
                    box-sizing: border-box;
                    border-radius: 5px;
                }

                .check__line label.checked::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    width: 12px;
                    height: 12px;
                    background: url('/Vector.png') no-repeat;
                    background-position: center center;
                    border-radius: 5px;
                }

                .check__line input[type='checkbox'] + label span {
                    color: var(--Grey-grey-500, #616161);
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%; /* 20.8px */
                }
            }
        }
        .pay_right {
            width: 420px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }
    }
}
