#grooming_interaction {
  width: 100%;
  height: 1100px;
  display: flex;
  align-items: center;
  position: relative;
  background: #b7e2df;
  .left {
    width: 462px;
    height: 780px;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 260px;
    gap: 114px;
    .top {
      width: 100%;
      height: 371px;
      display: flex;
      flex-flow: column;
      gap: 50px;
      .title {
        width: 100%;
        height: 132px;
        display: flex;
        flex-flow: column;
        strong {
          display: block;
          color: #fefefe;
          font-family: Paperlogy;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 66px; /* 137.5% */
          letter-spacing: 0.48px;
        }
        span {
          display: inline;
          color: #fefefe;
          font-family: Paperlogy;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 66px;
          letter-spacing: 0.48px;
          &.color {
            color: #4a9f99;
          }
        }
      }
      .context {
        width: 100%;
        height: auto;
        p {
          color: #fefefe;
          font-family: Pretendard;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 27px; /* 135% */
        }
      }
    }
    .bottom {
      width: 343px;
      height: 295px;
      .grooming_interaction_swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 100%;
          height: 87px;
          border-radius: 20px;
          background: #fefefe;
          opacity: 0.5;
          display: flex;
          align-items: center;
          justify-content: center;
          .inner {
            width: 294px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .profile {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #fff;
              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
            }
            .reply {
              width: 223px;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* 2줄까지만 보여주기 */
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height: 22.308px;
              color: #000;
              font-family: Pretendard;
              font-size: 15.615px;
              font-weight: 400;
            }
          }
        }
        .swiper-slide-active {
          opacity: 1;
        }
        .swiper-slide-next {
          opacity: 0.8;
        }
      }
    }
  }
  .rolling_area {
    width: 1019px;
    height: 100%; // 섹션 높이만큼 마스크
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 16px;
    position: absolute;
    right: 60px;
  }

  .col {
    position: relative;
    overflow: hidden; // 마스크
    width: 330px;

    .track {
      display: flex;
      flex-direction: column;
      gap: 16px;
      animation: roll-up 53s linear infinite; // 기본: 위로
      will-change: transform;
    }

    &.down .track {
      // 가운데만 아래로
      animation-name: roll-down;
      animation-duration: 64s;
    }

    img {
      width: 330px;
      height: 470px;
      display: block;
      object-fit: cover;
    }
  }

  // 시작 타이밍 살짝 다르게 (자연스러움)
  .col:nth-child(1) .track {
    animation-delay: -2s;
  }
  .col:nth-child(2) .track {
    animation-delay: -5s;
  }
  .col:nth-child(3) .track {
    animation-delay: -1s;
  }
} //grooming_interaction

@keyframes roll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes roll-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  #grooming_interactionMobile {
    background: #b2ded9;
    padding: 80px 16px;
    width: 390px;
    .inner {
      width: 100%;
      .top {
        .title {
          strong {
            display: block;
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 4px;
            color: var(--White, #fefefe);
            text-shadow: 0 4px 2px rgba(193, 217, 215, 0.5);
            font-family: Paperlogy;
          }
          span {
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            text-shadow: 0 4px 2px rgba(193, 217, 215, 0.5);
            font-family: Paperlogy;
          }
          .color {
            color: #2d7167;
          }
        }
        .context {
          margin-top: 40px;

          p {
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
    // 후기 롤링 Swiper 영역
    .review {
      margin: 60px 0;

      .grooming_interaction_swiper {
        width: 100%;
        height: 80px;
        display: flex;
        gap: 21px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background: var(--White, #fefefe);
        padding: 15px 41.309px 15px 22.309px;

        .swiper-slide {
          display: flex;
          align-items: flex-start;

          .inner {
            width: 294px;
            height: 50px;
            padding: 15px 41.309px 15px 22.309px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;
            .profile {
              display: flex;

              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                flex-shrink: 0;
              }
            }
            .reply {
              width: 223px;
              height: 43px;
              font-size: 14px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .rolling_area_mobile {
      width: 100%;
      height: 368px;
      .swiper {
        width: 100%;
        height: 368px; // 원하는 높이
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
