@use "./../utils" as *;

#main_visual {
  width: 100%;
  height: 100vh;
  background-image: url("/main/Main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;

  position: relative;
  overflow: hidden;
  .curve {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: auto;
  }
}
