footer {
    background: var(--Grey-grey-800, #353535);

    .inner {
        height: 490px;
        position: relative;
        top: 50px;
        margin: auto;
        .logo {
            width: 117px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 44px;
            background: var(--Grey-grey-200, #b6b6b6);
        }
        .middle {
            width: 770px;
            height: 89px;
            display: flex;
            flex-flow: column;
            gap: 16px;
            margin-bottom: 55px;
            .first {
                width: 770px;
                height: 19px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    color: var(--Grey-grey-100, #cecece);
                    /* Regular/16px */
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .second {
                width: 359px;
                height: 19px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                    color: var(--Grey-grey-100, #cecece);
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            span {
                color: var(--Grey-grey-100, #cecece);
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .icons {
            position: absolute;
            top: 88px;
            right: 0;
            width: 284px;
            height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                cursor: pointer;
                width: 56px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 56px;
                background: var(--Grey-grey-400, #818181);
                &:hover {
                    background-color: #fff;
                }
            }
        }
        .text_bg {
            position: absolute;
            bottom: 19px;

            right: 0;
            width: 939px;
            height: 212px;
            background-image: url('/footer/text.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
