@use './../utils' as *;

.best-movie {
    padding: 160px 0 160px 437px;
    display: flex;
    position: relative;

    .left {
        width: 407px;
        padding-right: 50px;
        position: relative;

        strong {
            color: var(--Green-green-800, #4a9f99);
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 12px;
            display: block;
        }

        h2 {
            font-family: Paperlogy;
            font-size: 42px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 18px;
            min-height: 42px;
        }

        p {
            color: var(--Grey-grey-700, #454545);
            font-size: 18px;
            white-space: pre-line;
            min-height: 54px;
        }

        .bg {
            position: absolute;
            left: -450px;
            top: 310px;
            color: var(--Green-green-800, #4a9f99);
            font-size: 240px;
            font-family: Paperlogy;
            opacity: 0.03;
            font-weight: 800;
            line-height: 249px;
            pointer-events: none;
            user-select: none;
            z-index: -1;
            will-change: transform; // 렌더링 최적화
        }
    }

    .right {
        flex: 1;
        overflow: hidden;

        .slide-wrapper {
            overflow: visible !important;
            padding-top: 14px;
            padding-left: 25px;
            display: flex;
            height: 520px; // Swiper 컨테이너 높이 고정

            .swiper-slide {
                transform: scale(1);
                transition: transform 0.4s ease;
            }

            .swiper-slide.first-active {
                transform: scale(1.09);
                transition: transform 0.4s ease;
                z-index: 2;
            }
        }

        .swiper {
            overflow: visible !important;
            height: 520px;
        }

        .poster {
            width: 100%;
            flex-shrink: 0;
            position: relative;
            height: 500px;

            img {
                width: 100%;
                height: 429px;
                display: block;
                object-fit: cover;
            }

            .title,
            .date {
                display: none;
            }

            .title {
                font-size: 18px;
                line-height: 1;
                margin-top: 10px;
                margin-right: 6px;
                height: 18px;
            }

            .date {
                color: var(--Grey-grey-300, #959595);
                font-size: 16px;
                height: 16px;
                margin-top: 4px;
            }

            .btn {
                text-align: center;
                color: #fff;
                display: none;
                width: 170px;
                border: 2px solid #fff;
                border-radius: 42px;
                padding: 10.4px 38.75px 9.6px 37.25px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                transition: opacity 0.3s ease;
            }
        }

        .swiper-slide.first-active {
            opacity: 1;
            transform: scale(1.09);
            transform-origin: center right;
            z-index: 2;

            .poster {
                .title,
                .date {
                    display: inline-block;
                }

                &:hover {
                    img {
                        filter: brightness(30%);
                        transition: filter 0.3s ease;
                    }

                    .btn {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }

        .swiper-slide:not(.first-active) {
            .poster {
                img {
                    margin-top: 18px;
                }
            }
        }
    }

    .btns {
        position: absolute;
        top: 374px;
        left: 410px;
        display: flex;
        z-index: 10;
    }

    .icon-btn {
        position: relative;
        background: none;
        border: none;
        font-size: 42px;
        width: 42px;
        cursor: pointer;
        margin-right: 18px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .icon {
        position: absolute;
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    .icon.show {
        opacity: 1;
    }

    .icon.hide {
        opacity: 0;
    }

    .progress {
        width: 1076px;
        height: 4px;
        background: #e9e9e9;
        margin-top: 70px;
        overflow: hidden;
        position: relative;

        .bar {
            background: #4a9f99;
            height: 100%;
            transition: transform 0.4s ease;
        }
    }
}
