@use './../utils/' as *;

.boneBanner {
    padding-top: 238px;
    background: #fff;
    position: relative;
    .banner {
        position: absolute;
        width: 100%;
        height: 78px;
        background-size: auto 78px;
        background: url('/about/boneBanner.png') repeat-x;
        animation: moveBanner 15s linear infinite;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    .boneBanner {
        padding-top: 4.1667vw;
        position: relative;
        .banner {
            position: absolute;
            height: 30px;
            background-size: auto 1.5625vw;
            background: url('/ott/boneBanner-m.png') repeat-x;
        }
    }
}
