@use './../utils' as *;

.card {
    background: var(--Grey-grey-900, #292929);
    padding: 160px 260px;
    text-align: center;
    strong {
        font-family: Paperlogy;
        font-size: 40px;
        font-weight: 600;
        color: var(--White, #fefefe);

        span {
            color: var(--Green-green-650, #8dd2ce);
        }
    }
    p {
        color: var(--Grey-grey-400, #818181);
        font-size: 24px;
        line-height: 140%;
        margin: 16px 0 68px;
    }
    .desc {
        color: var(--Grey-grey-300, #959595);
        font-size: 18px;
        line-height: 140%;
        margin-top: 32px;
        span {
            color: var(--Green-green-750, #7abab6);
        }
    }
    .card-list {
        display: flex;
        justify-content: space-between;
    }
}
