@use './../utils' as *;

.detail-page {
    background: #fff;
    .tabs {
        padding: 160px 260px 0;
        ul {
            position: relative;
            display: flex;
            gap: 30px;
            text-align: center;
            margin-top: 28px;
            border-bottom: 2px solid #cecece;
            li {
                color: var(--Grey-grey-200, #b6b6b6);
                font-size: 18px;
                font-weight: 600;
                // width: 80px;
                cursor: pointer;
                padding-bottom: 10px;
                position: relative;
                &.active {
                    color: var(--Green-green-800, #4a9f99);
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #4a9f99;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .detail-page {
        .tabs {
            padding: 80px 16px 0;
            ul {
                gap: 20px;
                margin-top: 0px;
                li {
                    font-size: 14px;
                    padding-bottom: 6px;
                }
            }
        }
    }
}
