@use './../utils' as *;

.eventbanner-slider {
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;

    .slide-list {
        display: flex;
        .slide {
            text-align: center;
            min-width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                color: var(--White, #fefefe);
                font-size: 24px;
                font-weight: 500;
                font-family: Pretendard;
            }
            strong {
                color: var(--Grey-grey-900, #292929);
                font-size: 36px;
                font-family: Paperlogy;
                font-weight: 600;
                // height: 70px;
                display: inline-block;
                line-height: 1.3;
                span {
                    color: var(--foundation-grey-light-active, #fcfbf9);
                    // vertical-align: middle;
                    transform-origin: center;
                    display: inline-block;
                }
            }
            &:nth-of-type(1) {
                // display: none;
                background-image: url('/ott/con4_bg1.png');
                position: relative;
                p {
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                strong {
                }
                span {
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 20%;
                        top: -8px;
                        width: 6px;
                        height: 6px;
                        border-radius: 6px;
                        background: #fff;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        right: 20%;
                        top: -8px;
                        width: 6px;
                        height: 6px;
                        border-radius: 6px;
                        background: #fff;
                    }
                }
                .imgs {
                    display: flex;
                    position: absolute;
                    gap: 1123px;
                    -webkit-user-drag: none;
                }
            }
            &:nth-of-type(2) {
                background-image: url('/ott/con4_bg2.png');
                position: relative;
                p {
                    font-size: 20px;
                    padding-bottom: 10px;
                }
                span {
                    font-size: 44px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 81%;
                        top: -1px;
                        width: 10px;
                        height: 8px;
                        background: url('/ott/heart.svg') no-repeat center/contain;
                    }
                }
                .imgs {
                    display: flex;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    gap: 781px;
                    .left {
                        img {
                            padding-left: 38px;
                        }
                    }
                    .right {
                        img {
                            padding-right: 38px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .eventbanner-slider {
        width: 390px;
        height: 80px;

        .slide-list {
            .slide {
                height: 20.5128vw;
                p {
                    font-size: 0px;
                }
                strong {
                    font-size: 0px;
                }
                &:nth-of-type(1) {
                    background-image: url('/ott/OTT_Con4_1.png');
                    p {
                        font-size: 0px;
                    }
                    span {
                        &::after,
                        &::before {
                            display: none;
                        }
                    }
                }
                &:nth-of-type(2) {
                    background-image: url('/ott/OTT_Con4_2.png');
                    p {
                        font-size: 0px;
                    }
                    span {
                        font-size: 0px;
                        position: relative;
                        &::after,
                        &::before {
                            display: none;
                        }
                    }
                    .imgs {
                        display: none;
                        .left,
                        .right {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
