@use './../utils' as *;
@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}

.ottmain-visual {
    position: relative;
    height: 985px;
    position: relative;
    height: 985px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 85px;
    background: #292929;
    .title {
        strong {
            font-family: Paperlogy;
            letter-spacing: 0.24px;
            padding-top: 70px;
            display: block;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 8px;
            font-weight: 700;
            span {
                color: var(--Green-green-500, #b7e2df);
                position: relative;
                &:nth-of-type(2) {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background: #b7e2df;
                        border-radius: 50%;
                        top: -8px;
                        left: 8px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background: #b7e2df;
                        border-radius: 50%;
                        top: -8px;
                        right: 8px;
                    }
                }
            }
        }
        h2 {
            font-family: Paperlogy;
            font-size: 88px;
            font-weight: 700;
            color: var(--Green-green-700, #8bbab7);
            line-height: 100px;
            margin-top: 8px;
            letter-spacing: 2.64px;
        }
    }
    .movie-film {
        background-image: url('/ott/filmbg.png');
        border-width: 1px 0;
        padding: 34px 0;
        margin-top: 28px;
        overflow: hidden;
        height: auto;
        width: 100%;
        .film-inner {
            margin: 32px 0;
            width: 1000vw;
            display: flex;
            .posterlist {
                display: flex;
                animation: scroll 40s infinite linear;
                opacity: 50%;
                .poster {
                    background-color: #000;
                    color: #fff;
                    width: 230px;
                    height: 328px;
                    text-align: center;
                    margin-right: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 230px;
                        height: 328px;
                    }
                }
            }
        }
    }
    .img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        line-height: 0;
        -webkit-user-drag: none;
        -moz-user-drag: none;
    }
}
@media screen and (max-width: 600px) {
    .ottmain-visual {
        height: 116.6667vw;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 21.7949vw;
        background: #292929;
        .title {
            strong {
                letter-spacing: 0.5px;
                padding-top: 15.3846vw;
                font-size: 18px;
                margin-bottom: 2.5641vw;
                span {
                    color: var(--Green-green-500, #b7e2df);
                    position: relative;
                    &:nth-of-type(2) {
                        &::after,
                        &::before {
                            display: none;
                        }
                    }
                    &:nth-of-type(1)::after {
                        content: '\A';
                        white-space: pre;
                    }
                }
            }
            h2 {
                font-size: 50px;
                letter-spacing: 0.5px;
                line-height: 1;
            }
        }
        .movie-film {
            padding: 9.7436vw 0;
            margin-top: 0px;
            .film-inner {
                margin: 32px 0;
                .posterlist {
                    .poster {
                        width: 33.3333vw;
                        height: 47.6923vw;
                        margin-right: 2.0513vw;
                        img {
                            width: 33.3333vw;
                            height: 47.6923vw;
                        }
                    }
                }
            }
        }
        .img {
            img {
                width: 98.9744vw;
                height: 51.7949vw;
            }
        }
    }
}
