@use './../utils' as *;

.video-photo {
    padding: 60px 260px 0 260px;
    position: relative;

    .swiper {
        width: 100%;
        margin: 0 auto 180px;
        // min-width: 1400px;
        position: relative;

        .swiper-slide {
            &:nth-last-child(3) {
                margin-bottom: 72px;
            }
        }

        .swiper-scrollbar {
            background: #e9e9e9;
            width: 476px !important;
            left: 50%;
            // right: 50% !important;
            transform: translateX(-50%);
            margin: 0;
        }

        .swiper-scrollbar-drag {
            background: #7abab6;
            width: 238px !important;
        }
        img {
            width: 100%;
            height: 100%;
        }
        margin-bottom: 180px;
    }
}
