@use './../utils' as *;

.review-wrapper {
    padding: 100px 260px 0 260px;
    .reveiw-score {
        display: flex;
        gap: 142px;
        justify-content: center;
        margin-bottom: 60px;
        text-align: center;
        .stars-box {
            strong {
                display: block;
                font-size: 40px;
                font-weight: 700;
            }
            p {
                font-size: 18px;
                margin: 10px 0 14px 0;
                line-height: 1;
            }
            svg {
                margin-right: 8 px;
                &:nth-of-type(5) {
                    margin-right: 0;
                }
            }
        }
        .average {
            strong {
                display: block;
                font-size: 40px;
                font-weight: 700;
            }
            p {
                font-size: 18px;
                margin: 10px 0 14px 0;
                line-height: 1;
            }
            svg {
                margin-right: 8px;
                &:nth-of-type(5) {
                    margin-right: 0;
                }
            }
        }
    }
    .review-form {
        position: relative;
        textarea {
            width: 100%;
            height: 140px;
            padding: 22px 0 0 24px;
            border: 1px solid var(--Grey-grey-100, #cecece);
            &:focus {
                outline: none;
            }
        }
        button {
            position: absolute;
            bottom: 28px;
            right: 24px;
            color: #4a9f99;
            font-weight: 500;
            font-size: 18px;
            background: none;
            border: none;
            cursor: pointer;
            &:disabled {
                color: var(--Grey-grey-100, #cecece);
            }
        }
    }
    .review-list {
        strong {
            font-size: 18px;
            font-weight: 600;
            margin: 70px 0 50px;
            display: block;
            line-height: 1;
        }
        .review-item {
            position: relative;
            border-bottom: 1px solid #e9e9e9;
            margin-top: 30px;
            &:nth-last-child(1) {
                border-bottom: none;
            }
            svg {
                cursor: pointer;
                margin-right: 4px;
                &:nth-of-type(5) {
                    margin-right: 8px;
                }
            }
            .date {
                display: block;
                color: var(--Grey-grey-400, #818181);
                font-size: 18px;
                margin: 18px 0;
                line-height: 1;
                margin-left: 2px;
            }
            .score-length {
                color: var(--Green-green-900, #478985);
                font-size: 24px;
                font-weight: 700;
                position: absolute;
                left: 150px;
                top: -6px;
            }
            p {
                margin-left: 2px;
                font-size: 20px;
                font-weight: 500;
            }
            button {
                background: transparent;
                border: none;
                margin: 20px 0;
                // font-weight: 500;
                display: flex;
                p {
                    font-size: 18px;
                }
            }
            .more {
                position: absolute;
                right: 0;
                bottom: 0;
                .dropdown {
                    border: 1px solid #e9e9e9;
                    border-radius: 4px;
                    width: 248px;
                    height: 132px;
                    position: absolute;
                    right: 10px;
                    top: 45px;
                    background: #fff;
                    z-index: 10;

                    li {
                        cursor: pointer;
                        color: var(--Grey-grey-400, #818181);
                        text-align: start;
                        padding-left: 20px;
                        height: 66px;
                        line-height: 66px;
                        font-size: 16px;
                        &:hover {
                            background: rgba(74, 159, 153, 0.1);
                            color: var(--Grey-grey-600, #585858);
                            font-weight: 500;
                        }
                        &:nth-last-child(1) {
                            border-top: 1px solid #e9e9e9;
                        }
                    }
                }
            }
        }
    }
}
