@use './../utils' as *;
.youtube {
    background: #fff;
    padding: 160px 0 0;
    strong {
        text-align: center;
        font-size: 44px;
        font-weight: 600;
        font-family: Paperlogy;
        margin-bottom: 20px;
        display: block;
        line-height: 1;
        span {
            color: var(--Green-green-750, #7abab6);
        }
    }
    p {
        text-align: center;
        font-size: 24px;
        margin-bottom: 112px;
    }
    .swiper {
        .swiper-slide.video-slide {
            width: 480px; // 웹에서는 480px
            margin-right: 26px;
        }
        .swiper-slide {
            .slide-card {
                img {
                    width: 100%;
                    height: auto;
                }
                .title {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1;
                    padding: 18px 0 100px;
                    text-align: start;
                    margin-bottom: 0;
                }
            }
        }
    }
    .swiper-scrollbar {
        left: 50%;
        transform: translateX(-50%);
        width: 476px !important;
        background: #e9e9e9;
    }
    .swiper-scrollbar-drag {
        background: #7abab6;
    }
}
@media screen and (max-width: 600px) {
    .youtube {
        padding: 20.5128vw 0 20.5128vw 4.1026vw;
        strong {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 1.5385vw;
        }
        p {
            text-align: center;
            font-size: 13px;
            margin-bottom: 6.9231vw;
        }
        .swiper {
            .swiper-slide.video-slide {
                width: 71.7949vw;
                margin-right: 3.5897vw;
            }
            .swiper-slide {
                .slide-card {
                    .title {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 1;
                        padding: 1.7949vw 0 11.0256vw;
                        text-align: start;
                        margin-bottom: 0;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .swiper-scrollbar {
            left: 50%;
            transform: translateX(-50%);
            width: 49.2308vw !important;
        }
        .swiper-scrollbar-drag {
        }
    }
}
