@use './../utils/' as *;

#content4 {
    padding: 160px 260px;
    width: 100%;
    height: 180vh;
    background-image: url('/about/BrandStory_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 26px;
    text-align: center;
    font-family: Paperlogy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    .item1 {
        position: relative;
        top: 37px;
        h2 {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 39%;
        }
    }
    .item2 {
        position: relative;
        top: 37px;
        h2 {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 39%;
        }
    }
    .item3 {
        position: relative;
        top: 37px;
        h2 {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 39%;
        }
    }
}
@media (max-width: 640px) {
  #content4 {
    height: 90vh !important;
    /* 390 디자인 기준 스케일러 */
    --m: calc(100vw / 390); 

    /* 섹션 패딩/간격 스케일 */
    padding: calc(var(--m) * 32) calc(var(--m) * 20);
    gap: calc(var(--m) * 16);

    /* 모바일에서 배경 이미지 교체 */
    background-image: url('/about/brandstory-image.png') !important; /* ← 모바일용 배경 파일 */
    background-position: center top;
    background-size: cover;

    .item {
      width: 100%;
      max-width: none;
      margin: calc(var(--m) * 6) 0;


      img {
        border-radius: calc(var(--m) * 14);
        box-shadow: 0 calc(var(--m) * 6) calc(var(--m) * 18) rgba(0,0,0,0.14);
        /* 스샷 느낌 살리려면 이미지 높이 약간 고정도 가능 */
        /* height: calc(var(--m) * 200); object-fit: cover; */
        width: 218px;
        height: 153px;
      }

      h2 {
        font-size: calc(var(--m) * 18); /* 스샷 기준 중앙 라벨 크기 */
        text-shadow: 0 calc(var(--m) * 2) calc(var(--m) * 6) rgba(0,0,0,0.25);
      }
    }
  }
}
