@use './../utils/' as *;

#content1 {
    width: 100%;
    .visual {
        width: 100%;
        background-color: #fefefe;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img{
            width: 100%;
        }
        .box1 {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20vw;
                margin-top: 15.2083vw;
                li {
                    color: #000;
                    z-index: 9999;
                    font-family: Paperlogy;
                    font-size: 110px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding-bottom: 14.4333vw;
                }
            }
        }
    }
}
