@use './../utils' as *;

* {
    box-sizing: border-box;
}

body {
    background: $main-bg;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    // @include paddingX(16px);
    @include desktop {
        // padding-left: 5%;
        // padding-right: 5%;
    }
    @include tablet {
        // padding-left: 5%;
        // padding-right: 5%;
    }
}

// /* 대상 요소 위에서 기본 커서 숨김 */
// .cursor-none,
// .cursor-none * {
//     cursor: none !important;
// }

// .hg-cursor {
//     position: fixed;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     z-index: 9999;
//     transform: translate(-50%, -50%) scale(0.82);
//     opacity: 0; /* show()/hide()로 제어 */
//     will-change: transform, opacity;
// }

// .hg-ring {
//     position: absolute;
//     inset: 0;
// }
// .hg-text {
//     fill: #bfe0dc;
//     font-weight: 600;
// }
// .hg-label {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
//     font-weight: 800;
//     font-size: 20px;
//     white-space: nowrap;
// }

.choice {
    display: flex;
    align-items: center;
    gap: 6px;
    /* 기본값: 흰 구멍 지름을 조금 줄인 버전 (기존 45% → 36%) */
    .radio-donut {
        --hole: 36%;
        appearance: none;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin: 0;
        padding: 0;

        background-color: var(--gray, #d9d9d9);
        /* 안쪽 흰 점 크기 = --hole, 경계 부드럽게 하려고 +1% */
        background-image: radial-gradient(
            circle at 50% 50%,
            #fff 0 var(--hole),
            transparent calc(var(--hole) + 1%)
        );
        background-repeat: no-repeat;
    }

    .radio-donut:checked {
        background-color: var(--brand, #8dd2ce);
    }

    .txt {
        color: var(--Grey-grey-600, #585858);
        text-align: center;
        /* Medium/18px */
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 23.4px */
    }
}
@media screen and (max-width: 600px) {
    * {
        // box-sizing: border-box;
    }

    body {
        // background: $main-bg;
        // font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        // @include paddingX(16px);
        @include desktop {
            // padding-left: 5%;
            // padding-right: 5%;
        }
        @include tablet {
            // padding-left: 5%;
            // padding-right: 5%;
        }
    }
    .choice {
        // display: flex;
        // align-items: center;
        // gap: 6px;
        /* 기본값: 흰 구멍 지름을 조금 줄인 버전 (기존 45% → 36%) */
        .radio-donut {
            // --hole: 36%;
            // appearance: none;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            // margin: 0;
            // padding: 0;

            // background-color: var(--gray, #d9d9d9);
            /* 안쪽 흰 점 크기 = --hole, 경계 부드럽게 하려고 +1% */
            // background-image: radial-gradient(
            //     circle at 50% 50%,
            //     #fff 0 var(--hole),
            //     transparent calc(var(--hole) + 1%)
            // );
            // background-repeat: no-repeat;
        }

        // .radio-donut:checked {
        //     background-color: var(--brand, #8dd2ce);
        // }

        .txt {
            // color: var(--Grey-grey-600, #585858);
            // text-align: center;
            // /* Medium/18px */
            // font-family: Pretendard;
            font-size: 14px;
            // font-style: normal;
            // font-weight: 500;
            // line-height: 130%; /* 23.4px */
        }
    }
}
