@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');

@font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Paperlogy-6SemiBold.woff2')
        format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
